<div class="container">
  <div class="info">
    
    <div class="sugestao">

      <p>Sugestões que você vai adorar</p>
      <img src="https://i.imgur.com/tGsNQuu.png" alt="" srcset="">
      <img src="https://i.imgur.com/tGsNQuu.png" alt="" srcset="">
      <img src="https://i.imgur.com/tGsNQuu.png" alt="" srcset="">
      <img src="https://i.imgur.com/tGsNQuu.png" alt="" srcset="">
      <img src="https://i.imgur.com/tGsNQuu.png" alt="" srcset="">
      <img src="https://i.imgur.com/tGsNQuu.png" alt="" srcset="">
      
    </div>

    <div class="top10">
      <svg id="rank-1" width="100%" height="100%" viewBox="-20 0 70 154" class="svg-icon svg-icon-rank-1 top-10-rank"><path stroke="#595959" stroke-linejoin="square" stroke-width="4" d="M35.377 152H72V2.538L2 19.362v30.341l33.377-8.459V152z"></path></svg>
      <img class="boxart-image-in-padded-container" src="https://occ-0-416-1123.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABdCib0V1B6JzpEBoUl4B4XqbnpEEX3PJSpdoCyhRXcC2NyfTndZ5mXfUl3byPbN4qVBTDplEn4DwuUe8852JI7CWzQY1cyBerPogdJDW-dMJEYaPS2QKdIh6AFVdUNLxchnMyA.jpg?r=53d" alt="">
      <div class="fallback-text-container" aria-hidden="true">
        <p class="fallback-text">Bebê Rena</p>
      </div>
    </div>

  </div>
</div>